@model ChatZone.Models.Account.LoginDto
@{
    ViewData["Title"] = "Đăng nhập";
    ViewBag.IsEmptyLayout = true;

    var notify = "";
    if (ViewBag.Notify != null)
    {
        notify = (string)ViewBag.Notify;
    }

    var error = "";
    if (ViewBag.Error != null)
    {
        error = (string)ViewBag.Error;
    }
}

@section scripts
{
    <partial name="_ValidationScriptsPartial"/>
}


<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                    <div class="brand-logo">
                        <img src="images/logo.png" alt="logo">
                    </div>
                    @if (!string.IsNullOrWhiteSpace(notify))
                    {
                        <div class="alert alert-success" role="alert">
                            @Html.Raw(notify)
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(error))
                    {
                        <div class="alert alert-danger" role="alert">
                            @Html.Raw(error)
                        </div>
                    }
                    <h4>Xin chào! Chúng ta hãy cùng bắt đầu nào</h4>
                    <h6 class="fw-light">Vui lòng đăng nhập để tiếp tục.</h6>
                    <form class="pt-3" action="/account/login" method="POST">
                        <div class="form-group">
                            <input type="text" asp-for="UserName" class="form-control form-control-lg"
                                   placeholder="Tên đăng nhập">
                            <span asp-validation-for="UserName" class="text-danger small"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Password" class="form-control form-control-lg"
                                   placeholder="Mật khẩu">
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                ĐĂNG NHẬP
                            </button>
                        </div>
                        <div class="text-center mt-4 fw-light">
                            Bạn chưa có tài khoản? <a href="/account/register" class="text-primary">Đăng ký ngay</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>